    <%- include("header"); -%>
    <div class="about-page">
      <h2>Hey you^^ and welcOme to the <em>about page</em><br><br>
        There's nothing here really. So I think you better go to another page right nOw :-(<br><br><br>
        You can go to either the root or work path
        <br><br><br>All you have to do is typying in the url:<br><br>
        localhost:3000/
        <br>Or<br>localhost:3000/work
      </h2>
    </div>
    <%- include("footer"); -%>
