.center {
    position: absolute;
    right: 40%;
    padding: 10px;
}

#reqs_btn_url, #reqs_btn_file {
    width: 20rem;
    height: 4rem;
    background-color: bisque;
    color: black;
    margin-bottom: 3rem;
}

#container {
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 23%;
}