<!-- Navigation Bar -->
<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo app_name">Pokedex App</a>
    <!-- Search Section -->
    <div class="nav-wrapper right hide-on-med-and-down search_bar">
      <form action="/search" method="POST">
        <div class="input-field">
          <input type="search" name="search_input" required>
          <label class="label-icon"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </div>
</nav>
