body {
  background-color: #E8ECEF;
}

.centered {
  padding-top: 200px;
  text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.btn-block {
  color: #fff;
}

.btn-google {
  background-color: #DD4B39;
}

.btn-facebook {
  background-color: #3B5998;
}
